version: 2.1
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: docker-compose up -d
      - run:
        name: Waiting for Elasticsearch to be ready
        command: |
          for i in `seq 1 10`;
          do
            nc -z localhost 9200 && echo Success && exit 0
            echo -n .
            sleep 1
          done
          echo Failed waiting for Elasticsearch && exit 1
